annotated-doc
annotated-types
anyio
bidict
click
colorama
dnspython
fastapi
h11
idna
motor
numpy
pillow
pydantic
pydantic_core
pymongo
python-engineio
python-socketio
simple-websocket
starlette
typing-inspection
typing_extensions
uvicorn
wsproto
ollama
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
